.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "main-menu"}
  %button.menu-icon{"data-toggle" => "", :type => "button"}
  .title-bar-title Menu
#main-menu.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text My Portfolio
  .top-bar-right
    %ul.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li.has-submenu
        = link_to 'One', '#'
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          %li
            = link_to 'One', '#'
          %li
            = link_to 'Nested', '#'
          %li
            = link_to 'Three', '#'
      %li
        = link_to 'Two', '#'
      %li
        = link_to 'Three', '#'